.index-header-fixed
  %h1.title Mienya
  .task-registration-field
    = form_for @task, remote: true do |f|
      .task-registration-box
        %span
          =f.text_field :task, placeholder: "what is your task?", class: "form-box"
          =f.label :task, class: "form-name"
          =f.hidden_field :type, value: "0"
          =f.submit "Create!", class: "form-button"

.task-field
  .task-box-area#ajax-create.table-sortable
    -# _task.html.hamlをレンダリング
    = render @tasks

.logout-button-section
  .logout-button
    =link_to "LOGOUT", class: "logoutbutton"
