.index-header-fixed
  %h1.title Mienya
  / =image_tag "Mienya-logo.png", class: "title-logo"
  .task-registration-field
    = form_for @task, remote: true do |f|
      .task-registration-box
        %span
          =f.text_field :task, placeholder: "what is your task?", class: "form-box"
          =f.label :task, class: "form-name"
          =f.hidden_field :type, value: "0"
          =f.submit "Create!", class: "form-button"

.task-field
  .task-box-area#ajax-create.table-sortable
    -# _task.html.hamlをレンダリング
    = render @tasks

-# 仮置きでtaskの最下に配置しています。
.logout-button-section
  - if logged_in?
    .user-button
      =link_to "LOGOUT", logout_path, method: :delete
  - else
    .user-button
      =link_to "LOGIN", login_path
    .user-button
      =link_to "SIGNUP", signup_path
